<mat-toolbar color="primary">
  3DScan Converter
</mat-toolbar>
<div class="frame">
  <app-pipeline></app-pipeline>
</div>

<footer>
  &copy; 2020 Tobias Bodmer, Ruben Koch, Tim Hänlein, Robert Schmoltzi, Thomas Weber, Anton Stubenbord
</footer>
